<a href="https://colab.research.google.com/github/DevanshikaPiparsania/Basic-Fundamentals-Presentations/blob/main/Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INTRODUCTION TO LIBRARIES

WHAT IS A LIBRARY
* A machine learning library is a compilation of function and routines readily available for use.
* Helps write complex programs while not writing a lot of code.
* Library are integral to ML and a HUGE reason why we use python in machine learning
* Libraries: PANDAS, NumPy, Matplotlib

Introduction of pandas
* Pandas is a python library for data manipulation. It offers data  structures like DataFrames and series, enabling to  work with data structure seamlessly. You can think of a DataFrame as  a table  where data is organized  into row and column.

>Importing Pandas

First thing to do when using any library is to import the library.

In [5]:
import pandas as pd

> Reading a CSV File

Lets begin by reading a csv file. A csv file is a file that begins  with comma  seperated values. There are a few ways you can upload a csv file into a collab notebook.

1. Click on the folder icon on the left hand side of the notebook. Click on the upload file button on the top left corner. upload the desired csv file.

In [20]:
dataset=pd.read_csv('/content/WeightTest.csv')

2.  use drive to upload the csv file using the code below.

In [ ]:
from google.collab import drive
drive.mount('/content/drive')
dataset = pd.read_csv('/content/drive/MyDrive/filename.csv')

3. You can upload a csv file from URL which will  we what we do for this  example Pandas lesson

In [ ]:
data_url='/content/drive/MyDrive/dataset/WeightTEST.csv'
data = 'https://docs.google.com/uc?id='+"/1XvRiYUg2VtkNS8t4Nwd0E78Wa7WBATQW" #Extract the id portion of the link
df = pd.read_csv(data)

To see the first few rows of the data frame you can use df.head()

In [ ]:
df.head()

New way from Youtube #https://www.youtube.com/watch?v=VCllZKM7Njk

In [7]:
path = "/Weight test - Sheet1.csv"
df = pd.read_csv(path)
df.head()

   Unnamed: 0 Sex  Weight(Sep)  Weight(April)  BMI(Sep)  BMI(April)
0           0   M           72             59     22.02       18.14
1           1   M           97             86     19.70       17.44
2           2   M           74             69     24.09       22.43
3           3   M           93             88     26.97       25.57
4           4   F           68             64     21.51       20.10

ACCESSING ELEMENTS OF A DATA FRAME

To return a specific row you can use.loc[]

In [8]:
df.loc[0]

Unnamed: 0           0
Sex                  M
Weight(Sep)         72
Weight(April)       59
BMI(Sep)         22.02
BMI(April)       18.14
Name: 0, dtype: object