<a href="https://colab.research.google.com/github/DevanshikaPiparsania/Basic-Fundamentals-Presentations/blob/main/Learning_to_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(hello)

NameError: name 'hello' is not defined

In [ ]:
msg = "Hello World!!"
print(msg)
hasCat=True
print("I have a cat:"+str(hasCat)) #<-- This is a string concatination, I am adding a String to a variable the boolean become a tring by using stt()
age =  6
print("I am "+str(age)+" years old")
balance = 25000.25
print("You have"+str(balance)+"balance left in your bank account")

Hello World!!
I have a cat:True
I am 6 years old
You have25000.25balance left in your bank account

In [ ]:
FirstName? = "Tom"

SyntaxError: invalid syntax (<ipython-input-10-1fb19b858bb0>, line 1)

In [ ]:
First_Name = "Tom"
print(First_Name)

Tom

In [ ]:
First-Name = True

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-13-3a97e1b0c1e6>, line 1)

In [ ]:
x=5
X=7
print(x)
print(X)

5
7

In [ ]:
x= "Dog"
y="cat"
z="Dog"
print(x==y)
print(x==z)

False
True

In [ ]:
x= "Dog"
y="cat"
z="Dog"
print(x!=y)
print(x=z)

True
False

*Logical Operator*

AND

In [ ]:
x= True
y= False
z= True
print(x and y)
print (x and z)

False
True

OR

In [ ]:
x= True
y= False
z= False
print(x or y)
print (y or z)

True
False

NOT

In [ ]:
x= True
y= False
print(not x)
print (not y)

False
True

Conditional -> Putting it together

In [ ]:
disease = True

#Both of the following statement work the same

if(disease == True):
    print("I am sick")

if(disease):
    print("I am still sick")

I am sick
I am still sick

elif statement:


*   Must come after in if statement
*   Means otherwise if some condition is true
*   There can be as if statements as needed

In [ ]:
disease = True
cured = False

if(disease and not cured):
 print("I am sick")
elif(disease and cured):
 print("I was sick, now I am cured :)")

I am sick

else  Statement:


*   Means none of the above condition are true

In [ ]:
disease = True
cured = False

if(disease and not cured):
 print("I am sick")
elif(disease and cured):
 print("I was sick, now I am cured :)")
else:
  print("I am not sick")

I am sick

In [ ]:
disease = True
cured = False

if(disease and not cured):
 print("I am sick")

else:
  print("I am not sick")

I am sick

Loops

In [ ]:
# Write a code to find 2 power of 50
# Create a variable (in this case i) and give it a range (start value, end value+1, add_value for each time)
# It will keep looping again and again adding the add_value each time
# everything that is intended is in the loop

for i in range(0,51,1):
 print(2**i)

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288
1048576
2097152
4194304
8388608
16777216
33554432
67108864
134217728
268435456
536870912
1073741824
2147483648
4294967296
8589934592
17179869184
34359738368
68719476736
137438953472
274877906944
549755813888
1099511627776
2199023255552
4398046511104
8796093022208
17592186044416
35184372088832
70368744177664
140737488355328
281474976710656
562949953421312
1125899906842624

In [ ]:
# You can also just print out i (notice the how the add_value defaults to 1 and the start_value defaults to 0
for i in range(10):
 print(i)

0
1
2
3
4
5
6
7
8
9

While Loop

In [ ]:
myAge =  0
while 0<=myAge<=5:
  print("I am "+str(myAge)+" years old")
  myAge+=1 #myAge +=1

I am 0 years old
I am 1 years old
I am 2 years old
I am 3 years old
I am 4 years old
I am 5 years old

FUNCTIONS

Functions  are a way to organize and reuse code. For example if i wanted to add the first n numbers for any number n, I could use a function to reuse the code. Here is the Syntax:

In [ ]:
# The numbers in the paranthesis is a parameter which you will call
def addFirstNNums(n):
 sum = 0
 for i in range(n+1):
  sum = sum + i # you can write this as sum+=n as well
 return sum # give the value back out of the function

#functions dont run unless they are called

print(addFirstNNums(10))
print(addFirstNNums(5))

55
15

LIST

List are used to store data. for wxample if you want to store the ages of 10 people you could use a list to store it.

In [ ]:
# Storing the ages of people
ages  = [10,15,20,25,30,35,40,45,50,55]

You can also index into an array to gets specific numbers. Indexes stars from 0. for example, in the list above the index of 0 is 10,  index of 1 is 15, index of two is 20,....,index of nine is 55

In [ ]:
print(ages[0]) # Return the value from index 0
print(ages[9]) # Return the value from index 9

10
55

These are the most important list function

In [ ]:
nums = [1,2,3,4,5]
nums.append(6) # add 6 to the end of the list
print("append() add 6 to the end ", nums)
nums.insert(2,9) # Add 9 to the index of 2
print("insert() add 9 to the index of 2",nums)
nums.remove(3) #Remove first occurance of 3 from the list
print("remove() removes 3",nums)
removed =nums.pop(0) # Removed items at index of 3 and return the value popped
print("pop() removes index 0", nums,"removed val:",removed)
numOfVal = nums.count(3) # Returns number of time 3 occurs in the list
print("count() count of 3", numOfVal)
lenOfList = len(nums) # Returns the length of the list
print("len() length of the list", lenOfList)

append() add 6 to the end  [1, 2, 3, 4, 5, 6]
insert() add 9 to the index of 2 [1, 2, 9, 3, 4, 5, 6]
remove() removes 3 [1, 2, 9, 4, 5, 6]
pop() removes index 0 [2, 9, 4, 5, 6] removed val: 1
count() count of 3 0
len() length of the list 5

The function were append(), insert(),remove(),pop(),count(),len()
if you ever need more function search up the sunctionality you want on google

You can also splice list like below. Try running the code  below

In [ ]:
print(ages[0:3]) #Non Invlusive of the third index

[10, 15, 20]

In [ ]:
print(ages[1:3])

[15, 20]

Try using Loop  with list

In [ ]:
diseased = [1,0,0,0,1,1,1] # in this example 1 represents  the diseased and 0 represents the healthy
for i in range(len(diseased)):
  #len(listName) returns the size of the list
  if(diseased[i]==1):
    #You must use (==) to compare the two values (=) used only to assign
    print("Patient",i,"is diseased")
  else:
    print("Patient",i,"is not diseased")

Patient 0 is diseased
Patient 1 is not diseased
Patient 2 is not diseased
Patient 3 is not diseased
Patient 4 is diseased
Patient 5 is diseased
Patient 6 is diseased

Here is another example to find minimum recovery time in a set of patient. Finding the minimum and  maximum are common algorithm to know for programmers.

lets say we are given a list days to recover, which repreesnts the amount of days before recovery for 6 injured patient.

In [ ]:
days_to_recover = [10,20,40,5,30,20]

We want to find the minimum recovery time for a patient

In [ ]:
# SET THE FIRST VALUE TO MIN
min_recovery_time = days_to_recover[0]
#ITERATE THROUGH LOOP
for i in range(1,len(days_to_recover)):
  days=days_to_recover[i]
  #For Each value in the loop check if it is less than min_recovery_time
  if(days<min_recovery_time):
    #IF IT IS LESS SET min_recovery_time to the new minimun or the current days to recover
    min_recovery_time = days
    print(min_recovery_time)

5

Lets try doing the same thing to find the maximum receovery of time.However this time lets use a loop called for-each difference.

In [ ]:
# SET THE FIRST VALUE TO MAX
max_recovery_time = days_to_recover[0]
#ITERATE THROUGH LOOP--> Using a for each loop -> Automatically goes to the value inside the loop without having inde
for days in days_to_recover:
#For Each value in the loop check if it is less than min_recovery_time
 if(days > max_recovery_time):
    #IF IT IS LESS SET max_recovery_time to the new max or the current days to recover
  max_recovery_time = days
print(max_recovery_time)

40

SORTING

* Another important algorithm that we can learn about is sorting.
* Say we have a list:[1,5,2,4,5,7], How do we sort this list to  [1,2,4,5,5,7]?

Here is the pseudo code (or the algorithm written in plain english) for selection sort:

For an array of N elements

* Go through 0->n-1 elements and find smallest, move smallest value to 0th index.
* Go through remaining elements 1->n-1  and find smallest, move smallest value to 1st index.
* ...................
* Go through remaining elements n-2 -> n-1 and find smallest, move smallest value to n-1th index.

Dont run the code  below until you've run the helper function in the next block.

In [4]:
# Selection sort
ages = [1,9,39,35,22,43,0]
N = len(ages)
# the fisrt loop  is for the position we are looking for
for i in range(0,N):
  # Find the index of the minimum from the  position we are looking for till the end
  minIndex = findMin(ages,i,N)
  # move  minimum value to i by swapping the values
  swap(ages,i,minIndex)
print(ages)

[0, 1, 9, 22, 35, 39, 43]

Now lets write our helper function

In [2]:
def findMin(ages,start,end):
  minIndex = start
  for i in range(start,end):
    if(ages[i]<ages[minIndex]):
      minIndex = i
  return minIndex


def swap(ages,i,minIndex):
  #Remember to save ages[i], in a temp variable as  we need the value after we change ages[i] be the ages(minIndex)
  temp = ages[i]
  ages[i] = ages[minIndex]
  ages[minIndex] = temp

If we run the code we get the sorted vaues

Amother important concept is list comprehension.Here is an example of list comprehension below:

In [6]:
# A disease is more common in people above the age 30 using the list we can use list comprehension to find how many people are at more risk to catching this disease

ages = [10,17,30,35,90,70,86,33,35,24]
riskedAges = [age for age in ages if age>30]
riskedAges = [ages[i] for i in range(len(ages)) if ages[i]>30]
print(riskedAges)

[35, 90, 70, 86, 33, 35]